@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color:lightyellow;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif; color:rgb(205, 232, 201 )
}

p{color:rgb(201, 232, 222 ) }
.first{ color: lightblue}
.sec{color:lightgreen}
.ugh{color: pink}
li{color: rgb(215, 201, 232)}